@use '../../variables' as *;

.header {
    padding-bottom: 40px;
    border-bottom: 1px solid $gray-line;

    img {
        flex-shrink: 0;
    }

    .header__logo {
        gap: 18px;
    }

    span {
        color: #7B7B7B;
    }
}

.search {
    position: relative;

    .search-loupe {
        position: absolute;
        left: 14px;
        top: 12px;
    }

    button {
        opacity: 1;
        position: absolute;
        right: 14px;
        top: 12px;
        transition: opacity $duration ease-in-out;

        &:disabled {
            opacity: 0;
            cursor: default;
        }
    }
}

.search-input {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 12px 20px;
    padding-left: 42px;
    width: 350px;
    border-radius: 12px;
    outline: none;
    transition: width $duration ease-in-out;

    &:focus {
        border: 1px solid rgba(0, 0, 0, .4);
        width: 400px;
    }
}