@use "sass:color";
@use "./variables" as *;

// ----БАЗА--------------------------------
body {
	background-color: $color-orange;
	font-family: Nunito, Roboto, sans-serif;
}

a {
	text-decoration: none; /* убираем подчёркивание */
	color: inherit; /* наследуем цвет */
}

h1 {
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	color: $color-black;
}

h2 {
	font-size: 32px;
	font-weight: 700;

	@media (max-width: 440px) {
		text-align: center;
		padding-top: 10px;
	}
}

.wrapper {
	width: 71vw;
	max-width: 1360px;
	margin: 0 auto;
	background: white;
	border-radius: 10px;
	padding-block: 50px;
	padding-inline: clamp(20px, 3.12vw, 60px);

	@media (max-width: 1400px) {
		width: 85vw;
	}

	@media (max-width: 760px) {
		width: 100%;
		border-radius: 0;
	}
}

// ----УТИЛИТАРНЫЕ КЛАССЫ--------------------------------
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	border-radius: 30px;
	border: none;
	white-space: nowrap;
	cursor: pointer;
	transition: background-color $duration ease-in-out,
		border-color $duration ease-in-out;

	&:hover {
		background-color: color.adjust($color-dark-orange, $lightness: -8%);
	}

	&:active {
		background-color: color.adjust($color-dark-orange, $lightness: -12%);
		transform: translateY(1px);
	}

	&-cart {
		gap: 12px;
		background-color: $color-dark-orange;
		padding: 12px 26px;
		color: white;

		.vertical-line {
			width: 1px;
			height: 26px;
			background-color: white;
		}
	}

	&-group {
		background-color: #f9f9f9;
		padding: 13px 30px;
		color: #2c2c2c;

		&:hover {
			background-color: color.adjust(#f9f9f9, $lightness: -2%);
		}

		&:active {
			background-color: color.adjust(#f9f9f9, $lightness: -5%);
			transform: none;
		}

		&.is-active {
			background-color: $color-black;
			color: #fff;
		}
	}

	&-add {
		column-gap: 6px;
		background-color: #fff;
		padding: 8px 16px;
		border: 1px solid $color-dark-orange;
		color: $color-dark-orange;

		&:hover {
			background-color: $color-dark-orange;
			color: #fff;

			svg {
				path {
					fill: #fff;
				}
			}

			i {
				background-color: #fff;
				color: $color-dark-orange;
			}
		}

		svg {
			path {
				fill: $color-dark-orange;
			}
		}

		&:active {
			background-color: color.adjust($color-dark-orange, $lightness: -8%);
		}

		i {
			border-radius: 30px;
			background-color: $color-dark-orange;
			color: #fff;
			width: 22px;
			font-style: normal;
			font-size: 13px;
			line-height: 22px;
		}
	}

	&-exit {
		font-weight: 400;
		padding: 12px 26px;
		color: #cacaca;
		border: 1px solid #cacaca;

		svg {
			margin-right: 12px;
		}

		&:hover {
			background-color: color.adjust(#cacaca, $lightness: -90%);
			border-color: color.adjust(#cacaca, $lightness: -90%);
		}
	}

	i,
	span,
	path,
	svg {
		transition: all $duration ease-in-out;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

// ----ОСНОВНЫЕ КЛАССЫ--------------------------------
.header__logo,
.filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pizzas {
	margin-block: 35px;
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	margin-inline: auto;
	row-gap: max(40px, 3.4vw);
	column-gap: 35px;

	@media (max-width: 1400px) {
		justify-content: center;
	}
}

.pagination {
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		font-weight: 800;
	}

	button {
		width: 45px;
		aspect-ratio: 1;
		color: $color-dark-orange;
		border: 1px solid $color-dark-orange;
		border-radius: 50%;
		transition: background-color $duration ease-in-out,
			border-color $duration ease-in-out;

		&:hover {
			background-color: color.adjust($color-dark-orange, $lightness: 12%);
			border-color: color.adjust($color-dark-orange, $lightness: 12%);
			color: white;
		}

		&:active {
			background-color: color.adjust($color-dark-orange, $lightness: 5%);
			transform: translateY(1px);
		}

		&.selected {
			background-color: $color-dark-orange;
			color: white;
		}
	}
}

// ----Классы корзины--------------------------------
.content-wrapper {
	margin-top: clamp(30px, 4.7vw, 90px);
	max-width: 820px;
	margin-inline: auto;
	font-size: 22px;

	@media (max-width: 860px) {
		font-size: 18px;
	}
}

.info {
	max-width: 500px;
	flex-direction: column;

	h2 {
		padding-block: 70px 10px;
		text-align: center;
	}

	p {
		font-size: 18px;
		text-align: center;
		margin-bottom: 45px;
		color: #777777;
	}

	img {
		margin-inline: auto;
		margin-bottom: 75px;
	}

	button {
		background-color: #282828;
		font-size: 16px;
		padding-inline: 40px;
	}
}

.top-cart,
.top-cart-left,
.top-cart-right,
.cart-description,
.cart-amount,
.total,
.exit-pay,
.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-cart {
	margin-bottom: 30px;

	h2 {
		margin: 0;
	}

	.top-cart-left {
		column-gap: 18px;
	}

	.top-cart-right {
		column-gap: 8px;
		font-size: 16px;
		color: #b6b6b6;

		&:hover {
			color: color.adjust(#b6b6b6, $lightness: -20%);

			svg path {
				stroke: color.adjust(#b6b6b6, $lightness: -20%);
			}
		}

		&:active {
			transform: translateY(1px);
			color: color.adjust(#b6b6b6, $lightness: -50%);

			svg path {
				stroke: color.adjust(#b6b6b6, $lightness: -50%);
			}
		}
	}
}

.cart-pizza {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 30px;
	font-weight: 700;
	border-top: 1px solid $gray-line;
	gap: 8px;

	.cart-description span {
		font-size: 18px;
		font-weight: 400;
		color: #8d8d8d;
	}

	.cart-info {
		min-width: 160px;

		@media (max-width: 860px) {
			& span:last-child {
				display: block;
			}
		}
	}

	button {
		padding: 0;
		width: 34px;
		aspect-ratio: 1;
		border: 2px solid #d7d7d7;
		border-radius: 50%;
		background-color: transparent;
		transition: background-color $duration ease-in-out,
			border-color $duration ease-in-out;

		&:disabled {
			cursor: auto;
			opacity: 0.3;
			color: #787878;
			border-color: #787878;

			&:hover {
				background-color: transparent;
				color: #787878;
			}

			&:active {
				transform: none;
			}
		}

		& :nth-child(1) {
			margin-inline: auto;
		}
	}
}

.cart-description {
	column-gap: 15px;
}

.btn-delete {
	&:hover {
		background-color: color.adjust(#cacaca, $lightness: -90%);
		border-color: color.adjust(#cacaca, $lightness: -90%);
	}

	svg {
		transform: rotate(45deg);

		path {
			fill: #d0d0d0;
		}
	}
}

.cart-amount {
	column-gap: 12px;

	button {
		border-color: $color-dark-orange;
		color: $color-dark-orange;

		&:hover {
			background-color: $color-dark-orange;
			color: #fff;
		}

		&:active {
			background-color: color.adjust($color-dark-orange, $lightness: -8%);
		}
	}

	@media (max-width: 860px) {
		flex-direction: column;
		row-gap: 16px;
	}
}

.total {
	padding-block: 10px 40px;

	span:last-child b {
		color: $color-dark-orange;
	}
}

.exit-pay {
	font-size: 16px;
	gap: 12px;

	.button {
		width: 210px;
		padding-block: 16px;

		@media (max-width: 440px) {
			width: 46%;
		}
	}
}

// ----Классы страницы не найдена--------------------------------
.not-found {
	margin-block: clamp(20px, 3vw, 40px);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
